@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Playwrite+HR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');
/*font-family: "LXGW WenKai TC";中文字體*/
/*font-family: "Playwrite CU";英文字體*/


  
div#IntroduceOnelevel{ /*最上方*/
    background-color: #ccc8c0; /* 背景色 */
    padding: 10px; /* 內邊距 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7); /* 陰影效果 */
    border-radius: 5px; /* 圓角 */
    height: 55px;
    z-index: 1000; /* 確保在其他內容上方 */
    position: fixed;
    width: 100%; /* 寬度佔滿整個視窗 */
   
  }
  div#Topicssecondbg{ /*第二層背景*/
    margin-top: 30px;
    width: 100%;
    height: 650px;
    background-image: url('./image/017.jpg');
    background-position: center; /* 背景图片居中 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    background-size: cover;

  
  }
  /* 烏雲
.Topicsclouds{
   height: 50px;
   width: 50px;
   margin-right: 150px;
}
@media (max-width: 725px) {
  .Topicsclouds{
    height: 50px;
    width: 50px;
    margin-right: 150px;
 }
}*/
div#Topicstitle{ /*標題 flex大小*/
    width: 25%;
    display: flex;
    z-index: 2;
    height: 50px;
   
  }
  @media (max-width: 725px) {
    div#Topicstitle{ /*標題 flex大小*/
      width: 2.5%;
      display: flex;
      z-index: 2;
      height: 50px;
     
    }
  }
  div#Topicstitle2{ /*專題介紹*/
    width: 50%;
    display: flex;
    z-index: 2;
    justify-content: center;
    font-family: "LXGW WenKai TC";
    font-size: 32px;
    height: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
  }
  @media (max-width: 725px) {
    div#Topicstitle2{ /*專題介紹*/
      width: 95%;
      display: flex;
      z-index: 2;
      justify-content: center;
      font-family: "LXGW WenKai TC";
      font-size: 22px;
      height: 50px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    }
  }
  div#Topicssecondbg .overlay { /*透明層*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(200, 200, 200, 0.3); /* 半透明白色背景，透明度為0.6 */
    z-index: 1; /* 確保背景疊加層在內容後面 */
  }
  .motivationtitle{ /*動機&解決標題*/
    font-family: "LXGW WenKai TC";
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
  }
  @media (max-width: 725px) {
    .motivationtitle{ /*動機&解決標題*/
      font-family: "LXGW WenKai TC";
      font-size: 14px;
      margin-left: 15px;
      margin-bottom: 10px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    }
  }
  .motivationtext{  /*動機內容*/
    font-family: "LXGW WenKai TC";
    font-size: 14px;
    text-align: justify; /* 兩端對齊 */
    text-justify: inter-word;
    
  } 
  @media (max-width: 725px) {
    .motivationtext{  /*動機內容*/
      font-family: "LXGW WenKai TC";
      font-size: 9px;
      text-align: justify; /* 兩端對齊 */
      text-justify: inter-word;
      
    } 
  }
  .motivationtext2{ /*解決內容*/
    font-family: "LXGW WenKai TC";
    font-size: 14px;
    text-align: justify; /* 兩端對齊 */
    text-justify: inter-word;
    
  }
  @media (max-width: 725px) {
    .motivationtext2{ /*解決內容*/
      font-family: "LXGW WenKai TC";
      font-size: 9px;
      text-align: justify; /* 兩端對齊 */
      text-justify: inter-word;
      
    }
  }
  div#upbg{ /*讓動機.解決文字在透明層之上*/
    z-index: 2;
  }

  div#Topicscontent{
    margin-top: 10px;
    height: 240px;
    padding-bottom: 0;
  }
  @media (max-width: 725px) {
    div#Topicscontent{
      margin-top: 0px;
      height: 280px;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
.motivationphoto{ /*圖片*/
  display: flex;
  z-index: 2;
  justify-content: center;
}
@media (max-width: 725px) {
  .motivationphoto{ /*圖片*/
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;    /* 垂直居中 */
   
     
  }
}
.card{ /*圖片*/
  z-index: 2;
  margin-top: 60px;
  margin-right: 30px;
  width: 18rem;
}
@media (max-width: 725px) {
  .card{ /*圖片*/
    z-index: 2;
   
  }
}
.card-img-top{
  height: 150px;
}
@media (max-width: 725px) {
  .card-img-top{
    height: 50%;
  }
}
.card-text{ /*圖片的文字*/
  font-family: "LXGW WenKai TC";
  display: flex;
  justify-content: center;
  font-size: 18px;
}
@media (max-width: 725px) {
  .card-text{ /*圖片的文字*/
    font-family: "LXGW WenKai TC";
    display: flex;
    justify-content: center;
    font-size: 9px;
  }
}
.gif005{ /*gif005*/
  display: flex;
  justify-content: right;
}

div#Topicsbg3{ /*改善 Topics2*/
  height: 100%;
  width: 100%;
  background-image: url('./image/022.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
}

@media (max-width: 725px) {
  div#Topicsbg3{ /*改善 Topics2*/
    height: 100%;
    width: 100%;
    background-image: url('./image/022.jpg');
    background-position: center; /* 背景图片居中 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    background-size: cover;
    position: relative;
  }
}
div#Topicsbg3 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(211, 211, 211, 0.9); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */
}

div#Topicsbg4{ /*改善 Topics3*/
  height: 100%;
  width: 100%;
  background-image: url('./image/023.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
}

div#Topicsbg4 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(211, 211, 211, 0.8); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */
}

div#Topicsbg5{ /*系統架構及使用元件 Topics4*/
  height: 100%;
  width: 100%;
  background-image: url('./image/027.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
}

div#Topicsbg5 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.9); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */
}
div#Topicsbg6{ /*鞋業產銷流程 Topics5*/
  height: 100%;
  width: 100%;
  background-image: url('./image/039.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
  
}

div#Topicsbg6 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200,200, 200, 0.9); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */
}

div#Topicsbg7{ /*系統流程圖 Topics6*/
  height: 100%;
  width: 100%;
  background-image: url('./image/041.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
}

div#Topicsbg7 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(180,180, 180, 0.9); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */
}

div#Topicsbg8{ /*首頁及匯入 Topics7*/
  height: 100%;
  width: 100%;
  background-image: url('./image/041.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
}

div#Topicsbg8 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(180,180, 180, 0.9); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */


}div#Topicsbg9{ /*單選派工 Topicd8*/
  height: 100%;
  width: 100%;
  background-image: url('./image/057.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
  
}

div#Topicsbg9 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(180,180, 180, 0.9); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */


}div#Topicsbg10{ /*App回報及預覽派工單 Topics9*/
  height: 100%;
  width: 100%;
  background-image: url('./image/056.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
  
}

div#Topicsbg10 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(180,180, 180, 0.9); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */
}

div#Topicsbg11{ /*員工出勤及監控展示 Topics10*/
  height: 100%;
  width: 100%;
  background-image: url('./image/055.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
  
}

div#Topicsbg11 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150,150, 150, 0.93); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */
}

div#Topicsbg12{ /*鞋子資訊及感應防偽 Topics11*/
  height: 100%;
  width: 100%;
  background-image: url('./image/054.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
  
}

div#Topicsbg12 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150,150, 150, 0.9); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */
}

div#Topicsbg13{ /*心得 Topics13*/
  height: 100%;
  width: 100%;
  background-image: url('./image/044.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover;
  position: relative;
  
}

div#Topicsbg13 .overlay { /*透明層*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150,150, 150, 0.9); /* 半透明白色背景，透明度為0.6 */
  z-index: 1; /* 確保背景疊加層在內容後面 */
}