@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Playwrite+HR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');
/*font-family: "LXGW WenKai TC";中文字體*/
/*font-family: "Playwrite CU";英文字體*/

div#test{

    z-index: 2;
}
div#Conditiontitle3{
    font-family: "LXGW WenKai TC";
    font-size: 28px;
    display: flex;
    justify-content: center;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    margin-top: 20px;
}
div#secondflex2{
   
    z-index: 2;
}
.Condition{
    font-family: "LXGW WenKai TC";
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Condition2{
    font-family: "LXGW WenKai TC";
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Conditiontext{
    font-family: "LXGW WenKai TC";
    font-size: 16px;
    display: flex;
    justify-content: center;
}