@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Playwrite+HR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@448&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');
/*font-family: "LXGW WenKai TC";中文字體*/
/*font-family: "Playwrite CU";英文字體*/

div#z-index11{
    z-index: 2;
    height: 400px;
}

div#Conditiontitle10{ /*標題*/
    font-family: "LXGW WenKai TC";
    font-size: 28px;
    display: flex;
    justify-content: center;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-top: 20px;
   
}

.video-player11 {
    width: 97%;
    margin-top: 20px;
   
  }
  
  .custom-progress-bar1 { /*%數條*/
    width: 97%;
    height: 12px;
    background-color: #ccc;
    cursor: pointer;
    position: relative;
    margin-top: 11px;
  }
  .custom-progress-bar2 { /*%數條*/
    width: 97%;
    height: 12px;
    background-color: #ccc;
    cursor: pointer;
    position: relative;
    margin-top: 17px;
  }
  .custom-progress-bar-fill {
    height: 100%;
    background-color: #007bff;
    width: 0%;
  }

  div#videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .percentage{
    display: flex;
    justify-content: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

  }

  div#ExcelMonitortext{
    font-family: "LXGW WenKai TC";
    font-size: 16px;
    text-align: justify; /* 兩端對齊 */
    text-justify: inter-word;/* 通過單詞之間的間距進行對齊 */
    text-indent: 2em;
    margin-right: 17px;
   
  }
  div#ExcelMonitortext1{
    font-family: "LXGW WenKai TC";
    font-size: 16px;
    text-align: justify; /* 兩端對齊 */
    text-justify: inter-word;/* 通過單詞之間的間距進行對齊 */
    text-indent: 2em;
    margin-right: 17px;
    
  }
  div#flexcenter11{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }